<div id= "brand-head">
<h4> Say Something About <%= @product.name %> </h4>

 <% if is_user? %>

  <%= form_for [@product, Comment.new] do |f| %>

    <%= f.text_field :body,  class: 'form-control', placeholder: "Enter Comment" %>

    <%= f.submit 'Add', :class => 'btn btn-default' %>

  <% end %>
  <% else %>
  <p> <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to comment </p>
<% end %>

<tbody>
   <% @comments.each do |comment| %>
      <tr>
        <p>
          <td> <%= comment.body%> </td>
      <td> 
        <small> 
             posted <%= time_ago_in_words(comment.created_at) %> ago 
          | <%= link_to "Delete", [@product, comment], method: :delete %>
        </small></p>
      </td>
    </tr>
  <% end %>
</tbody>
</div> <!-- end #brand-head -->

