<div id= "brand-head">
<h4> Comment on <%= @product.name %> </h4>

 <% if is_user? %>

  <%= form_for [@product, Comment.new], remote: true do |f| %>

    <%= f.text_field :body,  class: 'form-control', placeholder: "Enter Comment" %>

    <%= f.submit 'Add', :class => 'btn btn-default' %>

  <% end %>
  <% else %>
 <p> <%= link_to "Sign in With Linkedin", user_omniauth_authorize_path(:linkedin) %> to comment </p>
<% end %>

<div class= "js-comments">
   <% @comments.each do |comment| %>
  
<%= render comment %>
  <% end %>

</div> <!-- end #brand-head -->
</div>

