<div id= "brand-head">
<h4> Suggestions for <%= @product.name %> </h4>

 <% if is_user? %>

  <%= form_for [@product, Comment.new], remote: true do |f| %>

    <%= f.text_field :body,  class: 'form-control', placeholder: "Enter Comment" %>

    <%= f.submit 'Add', :class => 'btn btn-default' %>

  <% end %>
  <% else %>
  <p> <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to view or make a suggestion </p>
<% end %>

<div class= "js-comments">
   <% @comments.each do |comment| %>
  
<%= render comment %>
  <% end %>

</div> <!-- end #brand-head -->
</div>

