
  <h4> Say Something About <%= @vendor.vendor_name %> </h4>

<% if is_user? %>
  <%= form_for [@vendor, Comment.new] do |f| %>
    <%= f.text_field :body, class: 'form-control', placeholder: "Enter Comment" %>
    <%= f.submit 'Add', :class => 'btn btn-default' %>
  <% end %>
<% else %>
 <p> <%= link_to "Sign in With Linkedin", user_omniauth_authorize_path(:linkedin) %> to see the comprehensive list</p>
<% end %>

<tbody>
<% @comments.each do |comment| %>
<tr>
<p><td><%= comment.body %></td>
<td>
  <small>
    posted <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to comment.user.name, comment.user %>
    
    <%= link_to "Delete", [@vendor, comment], method: :delete %>

  </small></p>
</td>
<td>
  </td>
</tr>

</tbody>
<% end %>