
<%= form_for @vendor, html: { multipart: true } do |f| %>
  

  <div class="form-group">
    <%= f.label :vendor_name %>
    <%= f.text_field :vendor_name %>
    <%= f.label :image %>

    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
