<%= form_for @vendor, html: { multipart: true } do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this tech from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :vendor_name %><br>
    <%= f.text_field :vendor_name %>
  </div>
    <div class="form-group">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>

  <div class = "form-group">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class = "form-group">
     <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <% Product.all.each do |product| %>
    <div>
    <%= hidden_field_tag "vendor[product_ids][]", nil%>
    <%= check_box_tag "vendor[product_ids][]", product.id, @vendor.product_ids.include?(product.id), id: dom_id(product) %>
    <%= label_tag dom_id(product), product.name %> <br/>
    </div>
    <% end %>
    <%= submit_tag %>
    <% end %>