

<div class="content">
  <div id="products" class="transitions-enabled">
    <% @vendors.each do |vendor| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(vendor.image.url(:medium)), vendor %>
        <div class="panel-body">
          <p><%= vendor.vendor_name %> | <%= vendor.comments.count %> comments </p>

          <%= link_to 'Edit', edit_vendor_path(vendor) %>
          <!-- todo: add authorization for delete button -->
          <%= link_to 'Delete', vendor, method: :delete, data: { confirm: 'Are you sure?' } %>
          
        </div>
      </div>
    <% end %>
  </div>
</div>
