
<div class="show-container"
  <div class="row">
    <div class="col-md-4">
<div id= "vendor-head">

    <% if user_signed_in? %>

     <%= form_for @tried_vendor do |f| %>
      <%= f.hidden_field :vendor_id, value: @vendor.id %>
      <%= f.select :company_id , current_user.companies.collect { |c| [c.name, c.id] }   %>
      <%= f.button "Submit" %>
    <% end %>

    <%- end -%>
  <h4> Vendor </h4>
</div>
 

        <%= image_tag @vendor.image.url(:medium) %>
        <p><%= @vendor.vendor_name %> </p>
        <p><%= @vendor.about %> </p>
        <% if is_admin? %>
          <%= link_to 'Edit', edit_vendor_path %> |
          <%= link_to 'Back', vendors_path %> |
          <%= link_to 'Delete', @vendor, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </p>
    </div>

<div class="col-md-4">
  <div id= "vendor-head">
    <h4> Brands they work with </h4>
  </div>
    <%= render 'product' %>
</div> 

  <div class="col-md-4">
    <div id="vendor-head">
   <%= render partial: 'comments/vcomments' %>
    </div> 
  </div>
</div>

