
<div class="show-container"
  <div class="row">
    <div class="col-md-4">
<div id= "vendor-head">

  <h4> Vendor </h4>
</div>
 

        <%= image_tag @vendor.image.url(:medium) %>
        <p><%= @vendor.vendor_name %> </p>
        <p><%= @vendor.about %> </p>
        <p> <%= link_to @vendor.website, @vendor.website %> </p>
        <p> <%= @vendor.description %> </p>
        <% if is_admin? %>
          <%= link_to 'Edit', edit_vendor_path %> |
          <%= link_to 'Back', vendors_path %> |
          <%= link_to 'Delete', @vendor, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </p>
    </div>

<div class="col-md-4">
  <div id= "vendor-head">
    <h4> Brands they work with </h4>

    <%= render 'product' %>
      </div>
</div> 

  <div class="col-md-4">
    <div id="vendor-head">
     <% if user_signed_in? %>
        <%= render partial: 'tried_vendors/tried_vendors' %>
      <%- end -%>
       <%= render partial: 'comments/vcomments' %>
      </div> 
    </div>
  </div>
</div>

