
<div class="show-container"
  <div class="row">
    <div class="col-md-4">

        <%= image_tag @vendor.image.url(:medium) %>
        <p><%= @vendor.vendor_name %> </p>
        <p><%= @vendor.about %> </p>
        <% if is_admin? %>
          <%= link_to 'Edit', edit_vendor_path %> |
          <%= link_to 'Back', vendors_path %> |
          <%= link_to 'Delete', @vendor, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </p>
    </div>


<div class="col-md-4">
  <%= render 'product' %>
 </div> 


<div class="col-md-4">
 <%= render partial: 'comments/vcomments' %>
</div> 
</div>

