<div class="show-container"
  <div class="row">
    <div class="col-md-4">
      <div id="brand-head"> 
        <h4> Brand </h4>
     </div>

        <%= image_tag @product.image.url(:medium) %>
        <p><%= @product.name %> </p>

        <% if is_admin? %>
          <%= link_to 'Edit', edit_product_path(@product) %>|
          <%= link_to 'Back', products_path %> |
          <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </p>
      </div>


    <div class="col-md-4">
      <div id= "brand-head">
        <h4> Vendors </h4>
        <p> (Companies powering <%= @product.name%>'s marketing cloud)</p>
      </div>
      <%= render 'vendor' %>
    </div> <!-- row end -->

    <div class= "col-md-4">
      <%= render partial: 'comments/pcomment' %>
    </div>
  </div>



